<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  <title>GoalHub Store</title>
  {% endblock meta %}
  <script src="https://cdn.tailwindcss.com"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
</head>
<body class="bg-gray-50">

  {# Navbar hanya muncul jika bukan login/register #}
  {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}
    {% include 'navbar.html' %}
  {% endif %}

  <main class="{% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}pt-20{% endif %} min-h-screen">
    {% block content %}{% endblock content %}
  </main>

  {# Footer hanya muncul jika bukan login/register #}
  {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}
    <footer class="bg-white border-t mt-10 py-6 text-center text-gray-600">
      &copy; 2025 GoalHub Store
    </footer>
  {% endif %}

</body>
</html>
